form {
    display:block;
    margin-bottom:20px;
}

.inputField {
    margin: 20px;

}

.inputField input, .inputField textarea {
    box-sizing: border-box;
    width: 60vw;
    height: 70vh;
    padding: 0 20px;
    border: 1px #C4C4C4 solid;
    border-radius: 10px;
    font: 13px/1 Arial, Tahoma, sans-serif;
    color: #6E6E6E;
}

.inputField textarea {
    height: 180px;
    padding: 20px;
    line-height: 20px;
}

.inputField button {

    cursor: pointer;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    clear:both;
}

output {
    display:block;
    clear:both;
    margin-top:30px;
    width: 60vw;
    margin-left:20px;
}

output > div {
    padding:10px 15px;
    border: 1px solid #80deea;
    background: #b2ebf2;
    border-radius: 5px;

}
